.text_filter { /* div pre text stránky a filter menu */
	display: flex;
	flex-direction: column;
	padding-top: 50px;
}


.text_filter h1 { 
	padding-left: 20px;
}


.filter_menu { 
	display: flex;
	justify-content: left;
	width: 100%;
	gap: 20px;
	box-sizing: border-box;
	padding: 0px 20px 20px 20px;
	overflow: hidden;
}


.filter_kategorie {
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
	gap: clamp(5px, 2vw, 10px); /* zmenšuje medzeru medzi buttonami podľa veľkosti obrazovky*/
	overflow: hidden;
	scroll-behavior: smooth;
}


.filter_menu_item {
	min-width: 160px;
	max-width: 160px;
	background-color: white;
	line-height: 170%;
	border: 1px solid #D9D9D9;
	color: #808080;
	padding-left: 10px;
	text-align: left;
	font-family: Arial;
	font-size: 20px;
	user-select: none; /* aby sa to nedalo označiť myšou */
}


.filter_menu_item.special {
	flex-grow: 0;
	width: 140px;
	color: white;
	background-color: black;
}


.filter_menu_item:hover { /* hover pre menu item */
	color: black; 
	border-color: black;
}


.filter_menu_item.special:hover { /* pre Filter tlačidlo zvlášť */
	background-color: white;
}


.filter_sipka, .filter_opacna_sipka {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: none;
}


.filter_sipka img, .filter_opacna_sipka img {
	height: 17px;
}


.filter_opacna_sipka {
	transform: scaleX(-1);
}


.filter_sipka img:hover, .filter_opacna_sipka img:hover {
	filter: drop-shadow(0 0 5px black);
}