
.footer_asi {
    margin-top: 20px;
    background-color: black;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_container{
    width: 95%;
    height: 250px;
    background-color: black;
    display: flex;
    /*justify-content: space-between;*/ /* Rozmiestniť divy na kraje */
    justify-content:center;
    align-items: center;
    gap: 100px;
}


.obchod {
    background-color: rgb(49, 49, 49);
    /* width: 200px; */
    min-width: 200px;
    flex: 1;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.obchod_info {
    width: 1000px;
    height: 90%;
    background-color: rgb(49, 49, 49);
    justify-content: space-between; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
}

.obchod_info .druhy{
    border-right: 1px solid #D9D9D9; 
    border-left: 1px solid #D9D9D9; 
}

.obchod_label{
    color: rgb(169, 98, 255);
    font-weight: bold;
    font-size: 25px;
}

.obchod_text{
    color: rgb(170, 168, 168);
}

.obchod_hodiny_text {
    color: rgb(218, 218, 218);
}

.obchod_text {
    padding-top: 2px;
    text-align: left;
}


.podmienky {
    width: 800px;
    height: 80%;
    /* background-color: rgb(49, 49, 49); */
    /* justify-content: space-between; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.podmienky1 {
    flex: 1;
    /* background-color: #D9D9D9; */
    height: 80%;
}

.podmienky2 {
    flex: 1;
    /* background-color: #D9D9D9; */
    height: 80%;
    /* display: flex;
    align-items: center;
    flex-direction: column; */
}

.footer_text {
    color: rgb(170, 168, 168);
}

.footer_text:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.podmienky_label{
    color: rgb(169, 98, 255);
    font-weight: bold;
    font-size: 20px;   
}

.fa-facebook-f {
    color: rgb(169, 98, 255);
    font-size: 50px;
    margin-left: -50px;
}

.fa-instagram, .fa-x-twitter, .fa-linkedin-in {
    color: rgb(169, 98, 255);
    font-size: 50px;   
    margin-left: 20px;
}


.fa-facebook-f:hover, .fa-instagram:hover, .fa-x-twitter:hover, .fa-linkedin-in:hover {
    color: rgb(255, 255, 255);   
}


@media (max-width: 1024px) {
    .footer_container {
        flex-direction: column;
        gap: 50px;
        height: auto;
        padding: 20px 0;
    }
    .footer_asi{
        height: auto;
    }
    .obchod_info .druhy{
        border-right: 0px solid #D9D9D9; 
        border-left: 0px solid #D9D9D9; 
        border-top: 1px solid #D9D9D9; 
        border-bottom: 1px solid #D9D9D9; 
    }

    .obchod_info {
        flex-direction: column;
        width: 50%;
        max-width: 300px;
        min-width: 100px;
        gap: 20px;
    }

    .obchod {
        width: 90%;
        padding: 20px 0;
    }

    .podmienky {
        flex-direction: column;
        width: 100%;
        gap: 20px;
        text-align: center;
    }

    .podmienky1, .podmienky2 {
        width: 100%;
    }

    .fa-facebook-f, .fa-instagram, .fa-x-twitter, .fa-linkedin-in {
        font-size: 40px;
        margin: 10px;
    }
}