body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    margin-top: 80px; /* Posunies vsetko, aby obsah nebol zakryty navbarom */
}
  
.navbar {
    display: flex;
    /* justify-content: flex-start; */
    justify-content: space-between;
    padding: 1rem 5vw;
    /* max-width: 1200px;  */
    /* margin: 0 auto;  */
    background-color: #333;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 99;
    padding: 0;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    /* margin-left: -30px; */
}

.nav {
    display: flex;
    gap: min(10vw, 50px);
    align-items:end;
    padding: 0 5vw; 
}

.right_part {
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
    gap: 20px;
     /* Posunie túto sekciu na pravú stranu */
    margin-left: auto; 
}

.nav a , .right-items a {
    text-decoration: none;
    color: white;
    padding: 2px 0px;
    font-size: clamp(14px, 20px, 20px);
}

/* Hover efekt */
.nav a:hover {
    /* background-color: #ddd; */
    color: black;
    border-bottom: 5px solid white;
}

.vyhladaj_input{
    border-radius: 20px;
    background-color: #606060;
    height: 20px;
}

.profil, .kosik {
    background-color: #606060;
    width: 80px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_icon {
    color: white;
    font-size: 50px;
    margin-left: 30px;
    display: none;
}

@media (max-width: 945px) {
    .nav{
        display: none;
    }    
    .menu_icon{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


