
.page_number_list {

	display: flex;
	gap: 10px;
	height: auto;
	width: 100%;
	padding-bottom: 50px;
	justify-content: center;
	align-content: center;
}


#page_list {
	display: flex;
	gap: 10px;
	padding-bottom: 50px;
	max-width: 25%;
	
	overflow: hidden;

}

.page_number_list button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70px;
	height: 70px;
	min-width: 70px;
	max-width: 70px;
	border: none;
	background-color: transparent;
	font-size: 30px;
	color: #6D6D6D;
	margin: 3px 1px 0px 3px;

}


.page_number.active{
	outline: 1px solid #D9D9D9;
}


.page_number:hover {

	outline: 1px solid #D9D9D9;
}


#prevBtn img, #nextBtn img {
	height: 17px;
}




#nextBtn {
	transform: scaleX(-1);
}


#prevBtn img:hover, #nextBtn img:hover {
	filter: drop-shadow(0 0 5px black);
}



