.product_slider {
    margin-bottom: 100px;
    max-height: 300px;
    min-height: 250px;
    /* height: 300px; */

    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.slider-container {
    /* margin: 0 auto; */
    width: 80%;
    height: 100px;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}

.realtives{
    position:relative;
}

.owl-carousel .itemBRATU{
    /* margin: 3px; */
    color: #ff0000;
    background-color: #616161;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; 
    text-align: center;
    /* width: 300px;
    height: 300px; */
    max-width: 300px;
    min-width: 280px;
    width: 20vw;
    aspect-ratio: 1 / 1;

}

.customNavigation{
    text-align: right;
    margin-top:10px;
    margin-bottom:3px;
    padding-bottom:3px;
    border-bottom:2px solid #333;
}


/* .customNavigation a{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
} */

.customNavigation a {
    display: inline-block;
    font-size: 2rem; /* alebo inú veľkosť podľa potreby */
    color: #333;
    cursor: pointer;
    margin: 0 5px;
    z-index: 1000; /* ak sú prekryté inými prvkami */
}


.label {
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
}


.owl-carouselBRATU .owl-item {
    display: flex;
    justify-content: center;
    margin-right: 50px;
}

.owl-carouselBRATU .owl-stage {
    display: flex;
    justify-content: center;
}