
.big_img {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.small_img {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.file-input {
    display: none;
    pointer-events: none;
}


.plusko {
	display: flex;
    position: absolute;
    width: 80px;
    height: 80px;
    z-index: 2;
    pointer-events: none;
}

.small_img .plusko {
	width: 40px;
	height: 40px;
}


.plusko::before,
.plusko::after {
    content: "";
    position: absolute;
    background-color: #808080;
    border-radius: 2px;
}

.plusko::before {
    width: 100%;
    height: 8px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

}

.plusko::after {
    width: 8px;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}


.small_img.add .plusko::before, .small_img.add .plusko::after {
    background-color: #cccccc;
}

.big_img.add .plusko::before, .big_img.add .plusko::after {
    background-color: #cccccc;
}




.produkt_information {
	max-width: 100%;
	min-width: 320px;
	width: 480px;

	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
    box-sizing: border-box;
	padding-top: 19px;
	gap: 10px;
}


.label_edit {
	color: #909090;
}


.custom_input {
	display: flex;
	flex-direction: column;
	gap: 5px;
	justify-content: left;
	width: 100%;
	transition: 0.2s width ease-in-out;
	height: auto;
}


.input_edit, .input_edit_popis {
	font-size: 20px;
	width: 100%;
	height: 40px;
	padding-left: 10px;
	border-radius: 0px;
	border: 1px solid #d9d9d9;
	color: #404040;

	box-sizing: border-box;
}



.input_edit_popis {
	height: 90px;
	padding-top: 10px;
}


.select_label {
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 100%;
	transition: 0.2s width ease-in-out;
}



.select_edit {
	display: flex;
	padding-left: 10px;
	height: 40px;
	width: 100%;
	border-radius: 0px;
	border: 1px solid #d9d9d9;
	color: #808080;
	font-size: 15px;
	padding-top: 2px;

}


.joined_input {
	display: flex;
	justify-content: space-between;
	width: 100%;
	transition: 0.2s width ease-in-out;
}

.joined_input .custom_input {
	width: calc((100% - 30px)/2);
}


.joined_input .input_edit {
	padding-top: 0px;
	padding-left: 10px;
	color: #404040;
    font-size: 15px;
}


.button_pridat {
	display: flex;
	width: 100%;
	height: 40px;
	border: 1px solid #d9d9d9;
	border-radius: 0px;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: bold;
	background-color: black;
	color: white;
	text-decoration: none;
	transition: 0.2s width ease-in-out;
}

.button_pridat:hover {
	text-decoration: underline;
}


.trash_can_right {
    position: absolute;
    top: 18px;
    right: 15px;
    background-color: transparent;
    border: none;

    z-index: 2;
    width: 45px;
}


.trash_can_right img {
    pointer-events: none;
    background-color: transparent;
}



/* ak je koš na add elemente, tak sa schová a nebude sa dať kliknúť */
.big_img.add .trash_can_right {
    pointer-events: none;
    display: none;
}

.small_img.add .trash_can_right {
    pointer-events: none;
    display: none;
}


/* media querička */
@media (max-width: 1050px) {
    .product_main_info_container{
        flex-direction: column;

    }

    .product_images {
        justify-content: flex-start;

    }

    .product_images, .produkt_information{
        max-width: 80%;

    }




    .product_images {
        height: 600px;
        margin-bottom: 50px;

    }



    .produkt_information {
        width: 600px;

    }


    .joined_input, .button_pridat, .select_label, .custom_input {
        width: 100%;
    }


}





@media (max-width: 600px) {

	.product_images {
		height: 350px;
		margin-bottom: 0px;
		padding-bottom: 30px;

	}

    .joined_input, .button_pridat, .select_label, .custom_input {
    	width: 100%;
    }

}




