.product_main_info {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    background-color: rgb(247, 247, 247);

    padding: 0px 20px;
    box-sizing: border-box;

    transition: width 0.3s ease-in-out;
}

.product_main_info_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    column-gap: clamp(20px,5vw, 60px);

    margin: 20px 20px 30px 20px;
    width: 100%;
    height: auto;

}

.product_information {
    /* background-color: #d9d9d9; */
    width: 600px;
    height: auto;

}


.product_information h1{
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 0;
}

.specified {
    font-weight: bold;
    color: black;

}



.product_information {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.velkost_label {
    font-weight: bold;
}


.velkost_input {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid rgb(169, 98, 255);
    outline: none; /* Vypne modrý obrys */
    padding-left: 5px;
}


.pridat_do_kosika_button {
    width: 100%;
    height: 40px;
    font-size: 15px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
}

.pridat_do_kosika_button:hover {
    background-color: rgb(169, 98, 255);
    color: black;
}

.form_div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

.fa-globe{
    color: rgb(169, 98, 255);
}

.other_information {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cena {
    font-size: 30px;
    font-weight: bold;
}



.suvisiacie_kategorie_container {
    width: 100%;
}

.suvisiacie_kategorie_section {
    width: 70%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center; /* Horizontálne vycentrovanie */
}

.suvisiacie_kategorie_container {
    width: 100%;
    display: flex;
    flex-direction: column; /* Vertikálne vycentrovanie */
    justify-content: center;
    align-items: center; /* Horizontálne vycentrovanie */
}

.label_container {
    border-bottom: 1px solid black;
    width: 100%;
    text-align: center;
}

.category_container {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.category_container_element {
    width: 45%;

}

.category_container_element a:hover {
    color: rgb(169, 98, 255);
    text-decoration: underline;
}

.category_container_element_znacky {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0;
}

.category_container_element_znacky_item{
    padding-top: 0;
}

.category_container_element_kategorie, .category_container_element_znacky_item {
    display: flex;
    flex-direction: column;
    gap: 6px;
}


.suvisiacie_kategorie_section {
    margin-bottom: 70px;
}
