.product_images {
    display: flex;
    max-width: 600px;
    width: 100%;

}

.product_images_kontajner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: clamp(10px, 2vw, 20px);
    flex-shrink: 1;
    min-width: 320px;
    max-width: 600px;
    max-height: 700px;
    height: auto;
    width: 100%;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.product_images_kontajner img {
    height: 100%;
    width: 100%;
    background-color: white;
    pointer-events: none;
    user-select: none;
}


.form_div {
    width: 100%;
}


.small_images, .big_images {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    overflow: hidden;
}


.big_images {
    width: 100%;
    aspect-ratio: 600/540;
}


.big_img {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;

    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    box-sizing: border-box;
}

.big_img img {
    display: block;
    width: 170%;
    height: 110%;

    object-fit: cover;
    object-position: center;
}


.big_images.active {
    cursor: pointer;
}


.small_images {
    gap: 10px;
}

.small_img {
    display: flex;
    width: calc((100% - 20px)/3); /* aby boli 3 a medzi nimi boli 2 medzery po 10px */
    box-sizing: border-box;


    aspect-ratio: 1/1;
    flex-shrink: 0;
    transition: 0.1s border ease-in-out;
}

.small_img img {
    object-fit: cover;
}

.small_img.selected {
    border: 2px solid #ff5101;
    box-sizing: border-box;
}


.itemBRATU {
    object-fit: cover;
}







@media (max-width: 1050px) {
    .product_main_info_container {
        flex-direction: column;
        gap: 20px;
    }

    .product_main_info {
        padding: 0 0 20px 0;
    }


    .product_images_kontajner {
        width: 100%;
        height: 100%;
        max-width: none;
    }

    .product_images {
        justify-content: center;
        max-width: none;
        width: 100%;
    }

    .big_images {
        width: 100%;
    }

    .product_information {
        overflow: hidden;
        transition: max-height 0.5s ease;
        width: calc(100% - 20px);
        margin-left: 10px;
    }

}






@media (max-width: 850px) {
    .product_main_info {
        width: 100%;
        padding: 0 0 20px 0;
        margin-top: 80px;
    }

    .product_main_info_container {
       box-sizing: border-box;
        margin: 20px;
    }

    .product_information {
        margin-left: 10px;
    }

}



@media (max-width: 426px) {
    .product_images {
        height: auto;
        margin-bottom: 0;
    }

    .product_images_kontajner {
        gap: 10px;
    }

    .small_images {
        gap: 10px;
    }

    .product_main_info_container {
        margin: 10px;
    }

    .product_information {
        width: calc(100% - 20px);
    }


}
