body {
  overflow-x: hidden !important;
}


#popup_overlay {
  position: fixed; 
  top: 0;
  
  width: 100%;
  height: 100%; /* výška celej obrazovky */
  background: rgba(0, 0, 0, 0.5);
  
  display: none;
  align-items: center;
  justify-content: center;

  transition: 0.2s;
  z-index: 1001; 
  

}

#popup_overlay.active {
	display: flex;
}



.popup_container {
	display: flex;
	
	flex-direction: column;
	
	

	
	text-align: center;
	font-size: 15px;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 7px;
	width: 350px;
	height: 200px;
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);

}


.popup_container h2,p {
	margin: 0;
	margin-top: 5px;
}

.popup_content {

	display: flex;
	flex-direction: column;
	margin: auto;
	padding-bottom: 5px;
	gap: 30px;
	

}


.popup_buttons {
	display: flex;
	justify-content: center;
	gap: 20px;

	
}


.popup_message {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 0px;
}

.popup_buttons button {
	padding: 10px 25px;
	font-size: 15px;
	background-color: white;
	border-radius: 5px;
	border: 2px solid #808080;
	font-weight: bold;

}

#confirm_popup {
	background-color: black;
	color: white;
	border: none;
}



