/* používam 100vw namiesto 100%, aby som nebol ovplyvnený scrollbarom, keď ho odstránim */
.produkty_kontajner {
	display: flex;
	flex-direction: column;
	width: 100vw;
	align-items: center;
	padding-top: 60px;
	background-color: white;
}


.produkty_kontajner .orderby_menu {
	justify-content: left;
}


.product_list {
	display: grid;
	width: 100%;
	margin-bottom: 50px;
	height: auto;

	row-gap: 1px;
	column-gap: 1px;
	grid-template-columns: repeat(auto-fit, clamp(320px, 100%, 365px));
	grid-template-rows: repeat(auto-fit, 450px);
	
	align-items: center;
	justify-content: center;
	
}

.product_link {
	color: inherit;
	text-decoration: none;
}

.product_link:hover,
.product_link:focus,
.product_link:active,
.product_link:visited {
  color: inherit;
  text-decoration: none;
}