body {
  overflow-x: hidden !important;
}


/* nech sa pri zobrazení filtra neposúva navbar */
.navbar {
  width: 100vw !important;
}

.right_part {
  margin-right: 15px !important;
}



/* overlay pre menu */
.filter_overlay {
  position: fixed; 
  top: 0;
  
  width: 100%;
  height: 100%; /* výška celej obrazovky */
  background: rgba(0, 0, 0, 0.5);
  
  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.2s;
  z-index: 1001; 
  display: none; /* zobrazí sa len stlačením tlačidla */
}


/* kontajner pre filter menu */
#filter_container {
  display: flex;
  margin: auto;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  width: 1000px;
  
  height: 90vh;
  background-color: white;
  z-index: 1002;
}




/* horná časť filter menu */
.top_filter_menu {
  display: flex;
  flex-direction: column;
  
  min-height: 121px;
  border-bottom: 1px solid #D9D9D9;
  width: 100%;
}


.top_filter_menu h2 {
  padding-left: 20px;
}


.top_filter_menu p {
  color: #5A5A5A;
}


.filt_top {
  display: flex;
  height: 60px;
  min-height: 60px;
  padding-top: 10px;
  width: 100%;

  align-items: center;
  justify-content: space-between;
}


#resize_back_btn {
  display: none;

  justify-content: center;
  align-items: center;

  width: 48px;
  height: 48px;
  background: transparent;
  border: none;
  margin-top: 3px;
  margin-left: 10px;
}


#resize_back_btn.active {
  display: block !important;
}


#resize_back_btn img {
  width: 30px;
  height: 30px;
}



#close_btn {
  background-color: transparent;
  border: none;
  margin-top: 3px;
}


#close_btn:hover, #resize_back_btn:hover {
  filter: drop-shadow(0 0 1px black);
}


#filter_placeholder.noindent {
  padding-left: 0px;
}




/* sekcia vybraných filterov */
.selected_filters {
  position: relative;
  display: flex;

  gap: 15px;
  align-items: flex-start;
  text-wrap: nowrap;
}

.selected_filters p {
  padding-left: 20px;
}



/* kontajner aktívych filterov */
#sel_filter_container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  
  
  
  margin: 10px 0px;
  
  gap: 5px;
  scroll-behavior: smooth;
}


#sel_filter_container button {
  background-color: #F0F0F0;
  padding: 5px 10px;

  border-radius: 20px;
  color: #5A5A5A;
  border: none;
  height: 30px;
}


#sel_filter_container button:hover {
  background-color: #d9d9d9;
}


/* posúvne čípky pre sel_filter_container */
#filter_back_btn, #filter_next_btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #d9d9d9;
  width: 20px;
  height: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  z-index: 5;
}

#filter_back_btn {
  left: 14.5%;
}

#filter_next_btn {
  right: 1%;
}


#filter_back_btn:hover, #filter_next_btn:hover {
  border: 1px solid #b3b3b3; 
  transition: border 0.1s ease; 
}



#filter_back_btn img, #filter_next_btn img {
  display: flex;
  height: 12px;
  width: 12px;
  margin-left: 2px;

}

#filter_back_btn img {
  margin-right: 1px;
}

#filter_next_btn img {
  transform: scale(-1);
}




/* obsah filter menu */
.filter_content {
  display: flex;
  width: 100%;
  
  flex: 1 1 auto; 
  min-height: 0;
  height: auto;
  justify-content: left;
}


/* sidebar tlačidiel vo filter menu */
.filter_category {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  gap: 1px;
  justify-content: flex-start;
  
  flex: 1 1 350px;
  
  overflow-y: auto;
  height: auto;
  border-right: 1px solid #D9D9D9;
  z-index: 1;
}


/* tlačidlá sidebaru vo filter menu */
.filter_category .fil_cat, .fil_cat_selected {
  margin-top: 12px;
  height: 50px;
  width: 95%;
  margin-left: 9px;
  background-color: transparent;

  border: none;
  text-align: left;
  font-weight: bold;
  font-size: 15px;
  padding-top: 3px;
  padding-left: 13px;
}


.filter_category .fil_cat:hover {
  background-color: #f0f0f0;
}


.filter_category .fil_cat.selected {
  background-color: #f0f0f0;
}




/* css pre obsah kategorii */
.category_content {
  flex: 1 1 auto;
  padding-left: 15px;
  display: none;
  overflow-y: auto;
  justify-content: center;
  width: 65%;
  z-index: 2;

}

.category_content.selected {
  display: flex;
}



/* custom checkbox */
.custom_checkbox {
  user-select: none; /* aby sa nedal označovať checkbox */
}


.custom_checkbox input {
  display: none;
}

.custom_checkbox .checkmark {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #D9d9d9;
  border-radius: 0px;
  position: relative;
  

  vertical-align: middle;
  background-color: white;
  transition: border 0.3s ease;
}


/* aby sa pri hover myšou cez checkmark text zvýraznil checkmark */
.custom_checkbox:hover .checkmark,
.custom_checkbox .category_text:hover + .checkmark {
  border: 1px solid black;
}



/* zaškrtnutie checkmarku */
.custom_checkbox input:checked + .checkmark::after {
  content: ''; /* musí tu byť, aby sa vykreslil pseudo element */
  position: absolute;
  top: 1px;
  left: 6px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0; /* tvar písmena L z borderov*/
  transform: rotate(45deg); /* otočí písmeno L o 45 stupnov a vytvorí checkmark */
}


.custom_checkbox input:checked + .checkmark {
  background-color: black;
  border-color: black;
}




/* kategorie */
.checkbox_entry .category_text {
  padding-left: 7px;
  user-select: text;
}

.category_entry_list {
  display: flex;
  flex-direction: column;
  
  justify-content: flex-start;
  gap: 15px;
  width: 100%;
}




/* filter button pre farby */
.cat_entry_btn {
  display: flex;
  align-items: center;
  
  justify-content: center;
  padding: 10px 15px 8px 10px;

  border: 1px solid #ccc;
  color: #5A5A5A;
  background: white;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  
  transition: border 0.1s ease;
}


/* farebný štvorček v tlačidlách pre farby */
.cat_entry_btn .color-box {
  width: 20px;
  height: 20px;
  margin-bottom: 2px;
  margin-right: 10px;
  border-radius: 0px;
  border: 1px solid #D9D9D9;
}


/* kontajnery pre tlačidlá */
.cat_btn_container, .cat_btn_container_sizes {
  display: flex;
  
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;

  width: 100%;

  height: auto;
  padding: 2px;
}



.cat_entry_btn:hover, .cat_entry_btn_size:hover, .min_price:hover, .max_price:hover {
  border: 1px solid black;
  color: black;
}




/* filter btn pre veľkosti */
.cat_entry_btn_size, .min_price, .max_price {
  display: flex;
  height: 45px;

  width: 100px;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
  border: 1px solid #d9d9d9;
  background-color: transparent;
  color: #5A5A5A;
  font-size: 15px;
  transition: border 0.1s ease;

}


/* kliknuté tlačidlo farby */
.cat_entry_btn.clicked, .cat_entry_btn_size.clicked {
  outline: 2px solid black;
}




/* 2+ kategorie na jednom tabe */
.joined_cat_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}



/* custom slider */
.slider_container {
  position: relative;
  width: 92%;
  margin: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

/* spoločný slider */
.slider_track {
  position: absolute;
  width: 98%;
  left: 1%;
  height: 5px;
  background-color: #ccc;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

/* dynamicky vyfarbená časť medzi thumbs */
.filled_track {
  position: absolute;
  height: 5px;
  background: #5A5A5A;
  border-radius: 5px;
  top: 50%;

   /* lebo sa to nedá zarovnať ten thumb na okraj */
  transform: translateY(-50%);
  z-index: 2;
}

/* slidery */
input[type="range"] {
  position: absolute;
  width: 100%;
  background: none;
  pointer-events: none;
  top: 50%;
  appearance: none;
  z-index: 3;
}

/* thumbs */
input[type="range"]::-webkit-slider-thumb {
  width: 24px;
  height: 24px;
  background: #5A5A5A;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  appearance: none;
  margin-top: -14px;
  position: relative;
}


/* input pre slidery */

.min_max_filter {
  display: flex;
  justify-content: space-between;
  width: 92%;
  margin-left: 20px;

}


.min_price, .max_price { /* veľmi podobné na cat_entry_btn_size */
  height: 40px;
  padding-left: 10px;

}


.input_wrapper {
  position: relative;
  display: inline-block;
}

.input_wrapper input {
  padding-right: 20px; /* Priestor pre eur znak */
}


.input_wrapper .currency {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #555;
  font-size: 0.9em;
}



/* spodná časť filter menu */
.bottom_filter_menu {
  position: relative;
  display: flex;
  
  gap: 10px;
  min-height: 73px;
  border-top: 1px solid #D9D9D9;
  width: 100%;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: space-between;

}



#resetFilters { /* vymazat filtre tlačítko */
  border: none;
  font-size: 16px;
  margin-left: 15px;
  background-color: transparent;
  text-decoration: underline;
}


#resetFilters:hover {
  text-decoration: none;
}



/* zobraziť výsledky filtrovania, momentálne zatvára menu */
#applyFilter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px 10px 20px; 
  height: 40px;
  font-size: 18px;
  
  min-width: 220px;
  margin-right: 10px;

  border-radius: 0;
  border: none;
  background-color: black;
  color: white;
  
  text-transform: uppercase; /* bude to uppercase ten text */
  margin-right: 15px;
}



#applyFilter:hover {
  background-color: #333;
}



/* media queries */
@media (max-width: 1000px) {
    #filter_container {
        width: 100%; /* Pri šírke 1000px a menej sa zväčší na 100% */
        height: 100%;
    }

}


@media (max-width: 760px) {
    
    
    .fil_cat {
      width: 95vw;
    }

    .category_content, .category_content.selected {
      width: 100%;
      margin-top: 20px;
    }


    .filter_category {
      width: 100%;
    }


    .cat_entry_btn_size {
      width: 70px;
    }

    .category_identifier {
      display: none;
    }

}


@media (max-width: 430px) {
    
    
    #sel_filter_container {
      margin-left: 20px;
    }

    .category_content, .category_content.selected {
      padding-left: 12.5px;
      
    }

    .selected_filters p {
      display: none;
    }

    .cat_entry_btn_size {
      width: 50px;
      height: 40px;
    }


    .cat_btn_container, .cat_btn_container_sizes {
      justify-content: left;
    }

}



